@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

.bar{
    display: flex;
    letter-spacing: 5px;
    padding: 10px 15px;
   
    font-size: large;
    font-weight: bold;
   
    display: flex;
  align-items: center;
  justify-content: space-between;
    
  }
.bar p{
  font-size: 50px;
  

}

.bar ul{
    display: flex;
    column-gap: 50px;
    
    
    

   
}
a{
    text-decoration: none;
    color: black;

}
a:hover{
    color: rgb(150, 101, 84);
}
.drop-menu {
    display: flex;
    flex-direction: column;
    position: absolute;
    right: -50px;
    width: 200px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    padding: 8px;
    display: none;
  }
  .drop-link {
    position: relative;
  }
  .drop-menu a {
    padding: 8px;
  }
  .drop-menu a:hover {
    background-color: whitesmoke;
  }
  
  .drop-link:hover > .drop-menu {
    display: flex;
  }
header nav img{
    width: 200px;
}
header nav ul{
    list-style-type: none;
    display: flex;
    gap:25px ;
}
header nav{
    display: flex;
    justify-content: space-around;
}
.btn{
    background-color:rgb(150, 101, 84) ;
    padding: 15px;
    letter-spacing: 5px;
    position: absolute;
    right: 150;
}
.pic{
    display: flex;
    padding-left: 200px;
    column-gap: 20px;
    padding-top: 50px;
    padding-right: 200px;
}
.prgs p{
  display: flex;
  flex-direction: column;
  font-weight: bold;
  font-size: 50px;
  align-items: center;
  line-height: 30px;
  
  
}
img{
 width: 340px;
 height: 453px;
}
.gift p{
  font-size: 30px;
  font-weight:bold;
  padding-left: 50px;
  padding-top: 50px;
  padding-bottom: 50px;
  letter-spacing: 2px;


}

.slider {
  width: 100%;
  overflow: hidden;
}

.slides {
  display: flex;
  transition: transform 0.5s ease-in-out;
}

.slide {
  width: 100%;
}

.slide img {
  width: 100%;
  height: auto;
}

.navigation {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.prev-btn,
.next-btn {
  padding: 5px 10px;
  background-color: #333;
  color: #fff;
  border: none;
  cursor: pointer;
}

.prev-btn:hover,
.next-btn:hover {
  background-color: #555;
}








.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.form-container {
  width: 300px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  text-align: center;
  margin-top: 100px;
  margin-left: 500px;
 }

.form input {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
}

.form button {
  width: 100%;
  padding: 10px;
  background-color: #916982;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.form button:hover {
  background-color: #916982;
}

.message {
  margin-top: 20px;
}

.message a {
  color: #916982;
  text-decoration: none;
}

.message a:hover {
  text-decoration: underline;
}

.shop p{
  color:black;
  display:flex;
  flex-direction: column;
  font-size: medium;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  height: 10px;
  padding-left: 400px;
  
        }
h1{
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  margin: 0px 70px 10px;
    margin-top: 70px;
    color: inherit;
    font-weight: 200;
    text-rendering: optimizelegibility;
    font-size: 2.25rem;
    line-height: 1.1
}
.tiaras p{
  font-weight: 30;
  padding-left: 80px;
 
}
.timg{
  display:flex;
 flex-wrap: wrap;
 gap: 35px;
 justify-content: center;
 padding-top: 100px;
  
}
.timg img{
  width: 340px;
  height: 529px;
}
.timg h3{
  font-weight: 20;
  display: flex;
  flex-direction: column;
  line-height: 10px;
  font-size: 20px;
  text-align: center;


}
.tiimg{
  display:flex;
 flex-wrap: wrap;
 gap: 35px;
 justify-content: center;
 padding-top: 100px;
  

}
.tiimg img{
  width: 340px;
  height: 529px;
}
.tiimg h3{
  font-weight: 20;
  display: flex;
  flex-direction: column;
  line-height: 10px;
  font-size: 20px;
  text-align: center;

}
.eimg{
  display:flex;
 flex-wrap: wrap;
 gap: 35px;
 justify-content: center;
 padding-top: 100px;
  

}
.eimg img{
  width: 340px;
  height: 529px;
}
.rimg{
  display:flex;
 flex-wrap: wrap;
 gap: 35px;
 justify-content: center;
 padding-top: 100px;
  

}
.rimg img{
  width: 340px;
  height: 529px;
}

.nimg{
  display:flex;
 flex-wrap: wrap;
 gap: 35px;
 justify-content: center;
 padding-top: 100px;
  

}
.nimg img{
  width: 340px;
  height: 529px;
}

.bimg{
  display:flex;
 flex-wrap: wrap;
 gap: 35px;
 justify-content: center;
 padding-top: 100px;
  

}
.bimg img{
  width: 340px;
  height: 529px;
  
}
.earings p{
  font-weight: 30;
  padding-left: 80px;
 
}
.necklace p{
  font-weight: 30;
  padding-left: 80px;
 
}
.rings p{
  font-weight: 30;
  padding-left: 80px;
 
}
.braclet p{
  font-weight: 30;
  padding-left: 80px;
 
}
.price P{
  font-weight: bold;
  padding-left: 50px;


}
.eimg h3{
  font-weight: 20;
  display: flex;
  flex-direction: column;
  line-height: 10px;
  font-size: 20px;
  text-align: center;


}
.rimg h3{
  font-weight: 20;
  display: flex;
  flex-direction: column;
  line-height: 10px;
  font-size: 20px;
  text-align: center;


}
.nimg h3{
  font-weight: 20;
  display: flex;
  flex-direction: column;
  line-height: 10px;
  font-size: 20px;
  text-align: center;


}
.size img{
  width: 1293px;
  height: 377px;
}
.size {
  position: relative;
  display: inline-block;
}

.text p {
  position: absolute;
  bottom: 10px;
  left: 10px;
  color: rgb(255, 255, 255);
  font-size: 30px;
  font-weight: bold;
  font-style: oblique;

  
  
}
.meas{
  display: flex;
  flex-direction: row;
}
.meas img{
  padding-left: 100px;
  padding-top: 100px;
}
.meas p{
  font-size: 30px;
  font-weight: 300;
  padding-left: 150px;
  padding-top: 200px;
}

.measure img{
  width: 75px;
  height: 75px;
  padding-top: 20px;
  padding-left: 150px;
}

.tableau img{
  padding-left: 450px;
  padding-top: 80px;
  width: 500px;
  height: 529px;


}
.tip{
  background-color: #e2d8d8;
  padding-bottom: 80px;
  padding-top: 30px;
}
.bimg h3{
  font-weight: 20;
  display: flex;
  flex-direction: column;
  line-height: 10px;
  font-size: 20px;
  text-align: center;

}
.service img{
  width: 1280px;
  height: 500px;
}
.service {
  position: relative;
  display: inline-block;
  padding-top: 10px;
}

.service p {
  position: absolute;
  bottom: 10px;
  left: 10px;
  color: rgb(44, 42, 42);
  font-size: 30px;
  font-weight: bold;
  font-style: oblique;

  
  
}
.place {
  display:flex;
 flex-wrap: wrap;
 gap: 15px;
 justify-content: center;
 padding-top: 100px;

}
.place img{
  width: 400px;
  height: 400px;
  
}
.info h5{
  color: rgb(192, 140, 140);
  letter-spacing: 3px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-decoration: overline;
}
.info p{
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  flex-direction: row;
}
.info{
  background-color: rgb(216, 216, 216);
  padding: 30px;
}
.our img{
  padding: 50px;
  
  width: 400px;
 
  justify-content: center;
}
.our{
  display:flex;
  flex-wrap: nowrap;
  gap: 15px;
  justify-content: center;
  padding-top: 100px;
 
}
.title p{
  font-size: 50px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  padding-bottom: 20px;
  font-style: oblique;
}






.stuff {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.stuff {
  width: 300px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  text-align: center;
  margin-top: 100px;
  margin-left: 500px;
 }

#sellform input {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
}




.message {
  margin-top: 20px;
}

.message a {
  color: #916982;
  text-decoration: none;
}

.message a:hover {
  text-decoration: underline;
}


footer {
  text-align: center;
  padding-top: 200px;
  font-weight: 30;
  
}


.like{
  font-size: 15px;
  border: none;
  background-color:transparent;
  outline: none;
 
}



.show{
  display: block;
}

.hide{
  display: none;
}